#sidebar{
  background-image: linear-gradient(135deg, rgb(43, 142, 169), rgb(43, 69, 169));
  background-color: rgb(43, 69, 169);
  padding: 0 40px;
}

body{
  font-family: 'Signika';
}

.avatar img{
  width: 100px;
}

h1{
  font-family: 'Merriweather';
  font-weight: normal;
  font-size: 58px !important;
}

h3{
  color: #000;
}

#sidebar p{
  font-size: 20px;
  padding-top: 20px;
}

p.second{
  opacity: .5;
  margin-top: 140px;
}

p.mini{
  font-size: 16px;
}

.text-muted{
  font-family: 'Signika';
}

.gray{
  background-color: rgba(0,0,0,.02);
}

.label-default{
  transition: 1s;
  font-weight: normal;
}

.label-default:hover{
  text-decoration: none;
  background: #bebbbb;
  transition: 1s background-color;
}

h4 a:hover{
  text-decoration: none;
}

span.punk{
  background-image: url(../img/punk.svg);
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
}

ul.social{
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

a{
  -webkit-transition: all .5s !important;
  transition: all .5s !important;
}

ul.social li{
  padding: 0 20px;
  font-size: 25px;
}

ul.social li a{
  opacity: .6;
}

ul.social li a:hover{
  transition: 1s background-color;
  opacity: 1;
}

.low-opacity a{
  color: #aac4dc !important;
}
