a:hover{
  transition: all 0.5s ease;
}

span.subtitle{
  color: #9bdcff;
  margin-top: 40px;
  position: absolute;
}

.item-hero{
  margin-bottom: 100px;
}

.item-hero img{
  max-width: 100%;
  box-shadow: 0 40px 100px rgba(14, 20, 26, 0.2);
}

.itens ul{
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  float: right;
  margin-top: 40px;
}

.itens ul li{
  padding-left: 20px;
}

.itens ul li a{
  font-size: 24px;
  color: #00d46a;
  font-family: 'gb';
  text-decoration: underline;
}

h3 a{
  margin-left: 30px;
  padding-top: 5px;
  color: #9bdcff;
  font-size: 36px;
}

h3 a:hover{
  color: #9bdcff;
}

footer{
  padding: 100px 0;
}

footer p{
  color: #c0e8ff;
  font-size: 20px;
  font-family: 'gb';
  margin: 20px 0;
}

footer p.mini{
  font-size: 16px;
  color: #55ef81;
}

.read-more{
  display: inline-flex;
}

.btn-primary{
  background: #3356b4;
  border: none;
  transition: all 0.5s ease;
  box-shadow: 0 10px 25px rgba(14, 20, 26, 0.2);
}

.btn-primary:hover{
  background: #3356b4;
  border: none;
  opacity: .85;
  transition: all 0.5s ease;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px 10px 22px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.read-more-area{
  padding-top: 0;
  padding-bottom: 200px;
  margin-top: -100px;
}

/*infinite scroll*/
#pages {
	display: none;
}

#loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	opacity: .8;
	background-color: #FFFFFF;
}
/*infinie scroll*/
